<body>
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter-square"></i>
    <strong>sgdsg<i class="fab fa-instagram"></i></strong>
    <i class="fa-brands fa-github-square"></i>
</body>